div .card-header {
    background: rgb(0, 64, 255);
}
div .card-body {
   background-color: lightskyblue;
}
div .col-sm-6 {
    padding: .5rem;
}
div .col-sm-6 .card-body {
    background-color: rgb(126, 144, 155);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%; 
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
  